 langchain-huggingface
 sentence-transformers
 faiss-cpu
 langchain-google-genai
 langchain-community
 langchain-classic
 langchain
 streamlit
 python-dotenv
 pypdf
 pydantic
 unstructured
 rank_bm25
